/*Global -----------------------*/
:root{
    --green: #49AA26;
    --bg:#f0f2f5;
    --bg-table: white;
    --bg-text: #363f5f;
    --bg-card: white;
    --azul:#0011ffd8;
    --black:black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:93.75%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}
/*Tittles -----------------------*/
.container {
    width: min(90vw, 800px);
    margin: auto;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--bg-text);
    font-weight: normal;
}
.help{
    color: var(--bg-text);
    font-size: 13px;
    opacity: 0.7;
}
/*Botão dark mode*/
#toggle{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 20px;
}
#switch[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

#button-dark {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 22px;
    background: white;
    float: right;
    border-radius: 100px;
    position: relative;
}

#button-dark::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 90px;
    transition: 0.3s;
}

#switch:checked + #button-dark {
    background-color: black;
}

#switch:checked + #button-dark::after {
    background-color: white;
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#button-dark:active:after {
    width: 20px;
}
/*Links & Buttons -----------------------*/
a{
    color: #49AA26;
    text-decoration: none;
}
a:hover{
    color: #3dd705;
}
.button.new{
    display: inline-block;
    margin-bottom: .8rem;
}
button{
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: #49AA26;
    padding: 0;
    border-radius: 0.10rem;
    cursor: pointer;
}
button:hover{
    background-color: #3dd705;
}
.button.cancel{
    color: #e92929;
    border: 2px #e92929 solid;
    border-radius: 0.10rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
.button.cancel:hover{
    opacity: 1;
}
.excluir:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}
/*Header -----------------------*/
header {
    background-image: linear-gradient(to right, var(--azul), var(--green));
    padding: 2rem 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    margin-left: 2rem;
    width: 172px;
}
/*Balance -----------------------*/
#balance {
    margin-top: -6rem;
}
#balance h2 {
    color: white;
    margin-top: 0;
}
/*Cards -----------------------*/
.card {
    background-color: var(--bg-card);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--bg-text);
    transition: 0.3s;
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}
.card.total {
    background-color: #49AA26;
    color: white;
}
.card:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.568)
    
}
/*Table -----------------------*/
#transaction{
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--bg-text);
}
th:first-child, 
td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}
th:last-child, 
td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}
table th {
    background: var(--bg-table);
    font-weight: normal;
    text-align: left;
    padding: 1rem 2rem;
}
table tbody tr{
    opacity: 0.8;
}
table tbody tr:hover{
    opacity: 1;
}
table td {
    background: var(--bg-table);
    padding: 1rem 2rem;
}
td.description {
    color: var(--bg-text);
}
td.income{
    color: #12a454;
}
td.expense{
    color: #e92929;
    padding-right: 0.5px;
}
/*Modal -----------------------*/
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal{
    background-color: var(--bg);
    padding: 2.4rem;
}
/*Form -----------------------*/
#form{
    max-width: 500px;
}
#form h2{
    margin-top: 0;
}
input{
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
    background-color: var(--bg-table);
    color: var(--bg-text);
    
}
.input-group{
    margin-top: 0.8rem;
}
.input-group small{
    opacity: 0.4;
}
.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group.actions .button,
.input-group.actions button{
    width: 48%;
}
/*Footer -----------------------*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--bg-text);
}
 /* avatar */
#profile{
    margin-right: 2rem;
}
#avatar-profile {
    display: flex;
    align-items: right;
    color: white;
    text-decoration: none;
    position: relative;
    text-align: right;
  }
  
#avatar-profile p {
    font-size: 1.25rem; /* 20px of 16px root*/
    line-height: 1.875rem; /*30px of 16px root*/
    margin-right: 1.25rem;
  
    font-weight: 600;
  }
  
#avatar-profile span {
    display: block;
  
    font-weight: normal;
    font-size: 0.875rem; /* 14px of 16px root*/
    line-height: 1.5rem; /* 24px of 16px root*/
  
    font-weight: 400;
  }
  
#avatar-profile p span:hover {
    text-decoration: underline;
    color:var(--color-secondary);
  }
  
#avatar-profile img {
    width: 4rem; /* 64px of 16px root*/
    height: 4rem; /* 64px of 16px root*/
    border-radius: 50%;
    border: 0.156rem solid var(--black); /* 2.5px of 16px root*/
  }
#menu{
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: 95%;
    position: absolute;
    top: 0;
    visibility: hidden;
    display: none;
  }
#but{
    width: 40px;
  }

.link-nav{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 5px;
}
.link-nav:hover{
    color: white;
}
#label-nav{
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 1;
    visibility: hidden;
}
#lista{
    position: absolute;
    top: 70px;
    width: 100%;
    list-style: none;
    text-align: center;
}
#chec[type="checkbox"]{
    display: none;
}
#chec[type="checkbox"]:checked ~ #menu{
    display: block;
}
/*Button 2*/
#toggle2{
    display: flex;
    color: white;
    margin: auto;
    margin-top: 220px;
}
#button-dark2{
    margin: auto;
    pointer-events: auto;
}

  /*Responsive -----------------------*/
@media (min-width: 800px){
    html{
        font-size: 87.75%;
    }
    #balance{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}
@media (max-width: 650px){
    #avatar-profile{
        opacity: 0;
        visibility: hidden;
    }
    #toggle{
        margin-top: 10px;
        text-align:center;
        margin-left: 15px;
    }
    header{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    header img{
        margin-left: 0;
        margin-top: 15px;
    }
    #menu{
        visibility: visible;
    }
    #label-nav{
        visibility: visible;
    }
    #toggle{
        display: none;
    }
}